
<div class="container">
  <div class="card">
    <div class="card-header text-center p-5">
      <button class="btn btn-success" (click)="tirarDados()">GIRAR DADOS</button>
    </div>
    <div class="card-body bg-success p-2 text-center">
      <img class="m-3" [src]="dadoIzquierda">
      <img class="m-3" [src]="dadoDerecha">
    </div>
    <div class="card-footer p-3">
        <h1 class="text-center" *ngIf="numero1==numero2"><span  class="badge bg-success">Ganaste</span></h1>
    </div>
  </div>
</div>
